.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  border-radius: 50% !important;
}

.swiper-pagination-bullet-active {
  background: #3074f0 !important;
  width: 34px !important;
  height: 10px !important;
  border-radius: 8px !important;
}

/* Styles for mobile and tablet screens */
@media (max-width: 639px) {
  .swiper {
    height: 177px !important;
  }
  .swiper-pagination {
    bottom: auto !important;
    top: 155px !important;
    left: 0 !important;
    width: 100% !important;
    text-align: center !important;
    z-index: 10 !important;
  }
  .swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
  }
  .swiper-pagination-bullet-active {
    width: 18px !important;
    height: 6px !important;
  }
}
